@import url('https://fonts.googleapis.com/css2?family=Blaka+Hollow&family=Cairo&family=El+Messiri:wght@500&family=Lalezar&family=Mada:wght@300&family=Noto+Sans+Display&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
    body {

        background-color: #373737;
        position: relative;

    }
header {

    background-color: #232323;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Toolbar:link{

        color:white;
        text-decoration: none;
        font-size: 40px;
        padding: 0px 20px;
        font-family: 'Blaka Hollow', cursive;
    }
    .Toolbar a:hover {

        color: red;

    } 
        .mangalogo1 {

        width: 80px;
        height: 80px;
        margin-right: 75%;
        border-radius: 8px;
        position: absolute;
        top: 350px;
    }
        .mangaplace {

        font-family: 'Lalezar', cursive;
        color: white;
        font-size: 40px;
        position: absolute;
        top: 250px;
        right: 25%;
        left: 25%;
    }
    .mangainfo1 {

        position: absolute;
        top: 360px;
        margin-left: 25%;
        font-family: 'Noto Sans Display', sans-serif;
        color: white;
        font-size: 16px;
        text-decoration: none;
    }
    .mangalogo2 {

        width: 80px;
        height: 80px;
        margin-right: 75%;
        border-radius: 8px;
        position: absolute;
        top: 480px;



    }
    .mangainfo2 {

        position: absolute;
        top: 490px;
        margin-left: 25%;
        font-family: 'Noto Sans Display', sans-serif;
        color: white;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
    }
